<template>
  <div class="single">
    <b-breadcrumb></b-breadcrumb>
    <b-container>
      <h1>Prueba {{ id }}</h1>
      <b-row>
        <b-col cols="6" class="thumbnail">
          <img :src="contentItem.imagePath" />
        </b-col>
        <b-col class="info">
          <div class="content-desc">
            {{ contentItem.description }}
          </div>
          <div>
            <b-button size="lg" :style="{ width: '100%' }"
              >Large Button</b-button
            >
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: Number,
      default: 1
    }
  },
  computed: {
    contentItem: function() {
      return false
    }
  }
}
</script>

<style>
.single .container {
  border-left-style: solid;
  border-width: 1px;
}

.single img {
  width: 100%;
}

.single h1 {
  margin-bottom: 1.5rem;
}

.content-desc {
  height: 260px;
}

.thumbnail {
  height: 308px;
  overflow: hidden;
}

.info {
  padding-right: 30px;
}
</style>
