<template>
  <article :style="{ background: content.bgColor, boxShadow: content.shadow }">
    <header class="major">
      <div class="img-logo">
        <img class="img-fluid" :src="content.logo" />
      </div>
      <h3>
        <nuxt-link
          :to="{
            path: '/content/folders/' + content.id
          }"
        >
          {{ content.name }}
        </nuxt-link>
      </h3>
      <p>{{ content.description }}</p>
    </header>
  </article>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      default: function() {
        return {
          id: '1',
          image: '/images/pic01.jpg',
          link: 'landing.html',
          name: 'Aliquam',
          description: 'Ipsum dolor sit amet'
        }
      }
    }
  }
}
</script>
