<template>
  <section id="banner" class="major">
    <div class="inner">
      <header class="major text">
        <h1>Hola Mi nombre es Pawel</h1>
      </header>
    </div>
  </section>
</template>

<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/* Banner */

#banner {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: 6em 0 2em 0;
  border-bottom: 0 !important;
  cursor: default;
  margin-top: 10em;
  margin-bottom: -3.25em;
  max-height: 32em;
  position: relative;
  top: -3.8em;
  background-color: #5963a2;
  background-image: url(/images/BUBBLEY.png);
  width: 96%;
}

#banner:after {
  -moz-transition: opacity 2.5s ease;
  -webkit-transition: opacity 2.5s ease;
  -ms-transition: opacity 2.5s ease;
  transition: opacity 2.5s ease;
  -moz-transition-delay: 0.75s;
  -webkit-transition-delay: 0.75s;
  -ms-transition-delay: 0.75s;
  transition-delay: 0.75s;
  pointer-events: none;
  background-color: #5963a2;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#banner h1 {
  font-size: 3.25em;
}

#banner > .inner {
  padding: 0;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 65em;
  width: calc(100% - 6em);
}

#banner > .inner header {
  width: auto;
}

#banner > .inner header > :first-child {
  width: auto;
}

#banner > .inner header > :first-child:after {
  max-width: 100%;
}

#banner > .inner .content {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin: 0 0 2em 0;
}

#banner > .inner .content > * {
  margin-right: 1.5em;
  margin-bottom: 0;
}

#banner > .inner .content > :last-child {
  margin-right: 0;
}

#banner > .inner .content p {
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

#banner.major {
  text-align: right;
}

#banner.major.alt {
  opacity: 0.75;
}

#banner.style1:after {
  background-color: #6fc3df;
}

#banner.style2:after {
  background-color: #8d82c4;
}

#banner.style3:after {
  background-color: #ec8d81;
}

#banner.style4:after {
  background-color: #e7b788;
}

#banner.style5:after {
  background-color: #8ea9e8;
}

#banner.style6:after {
  background-color: #87c5a4;
}

body.is-preload #banner:after {
  opacity: 1;
}

@media screen and (max-width: 736px) {
  #banner {
    padding: 5em 0 1em 0;
    height: auto;
    margin-bottom: -2.75em;
    max-height: none;
    min-height: 0;
    top: -2.75em;
  }

  #banner h1 {
    font-size: 2em;
  }

  #banner > .inner .content {
    display: block;
  }

  #banner > .inner .content > * {
    margin-right: 0;
    margin-bottom: 2em;
  }

  #banner.major {
    height: auto;
    min-height: 0;
    max-height: none;
  }
}

@media screen and (max-width: 480px) {
  #banner {
    padding: 6em 0 2em 0;
  }

  #banner > .inner .content p br {
    display: none;
  }

  #banner.major {
    padding: 8em 0 4em 0;
  }
}
</style>
