<template>
  <footer class="cap-footer">
    Footer
  </footer>
</template>

<style>
.cap-footer {
  background-color: black;
  color: white;
  height: 80px;
  display: block;
}

footer {
  width: 100%;
  margin-bottom: -80px;
}
</style>
