<template>
  <div class="header">
    <b-navbar class="bg-header" toggleable="lg" type="dark" fixed="top">
      <b-navbar-brand href="#" class="logo-name"><h2>Kumu</h2></b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <!-- <b-navbar-nav>
          <b-nav-item href="#">Link</b-nav-item>
          <b-nav-item href="#" disabled>Disabled</b-nav-item>
        </b-navbar-nav>
        -->
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-form class="search-section">
            <b-form-input
              size="sm"
              class="mr-sm-2"
              placeholder=""
            ></b-form-input>
            <img class="image-search" src="images/search-icon.svg" />
          </b-nav-form>
          <b-nav-item class="item-Nav"><b>Usuario</b></b-nav-item>
          <b-nav-item class="item-Nav"><b>Salir</b></b-nav-item>
          <!--
          <b-nav-item-dropdown text="Idioma" right>
            <b-dropdown-item href="#">EN</b-dropdown-item>
            <b-dropdown-item href="#">ES</b-dropdown-item>
            <b-dropdown-item href="#">RU</b-dropdown-item>
            <b-dropdown-item href="#">FA</b-dropdown-item>
          </b-nav-item-dropdown>

          <b-nav-item-dropdown right>
        
            <template slot="button-content"
              ><em>User</em>
            </template>
            <b-dropdown-item href="#">Profile</b-dropdown-item>
            <b-dropdown-item href="#">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
          -->
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Leckerli+One&display=swap');

.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: rgb(255, 226, 96) !important;
}

.search-section {
  border-radius: 2vw !important;
  background-color: #fff;
}

.image-search {
  width: 9.4%;
  background-color: #fff;
  transform: translate(-50%, 0%);
  border-radius: 1vw;
}

.mr-sm-2 {
  vertical-align: middle;
  border: 0;
  width: 80% !important;
  transform: translate(-5%, 0);
}

.bg-header {
  background: url('../assets/images/STRIPES.png');
  background-color: #01a992;
  background-blend-mode: hard-light;
  height: 4vw;
}

.logo-name {
  font-family: 'Leckerli One', cursive;
}

.header {
  margin-top: -55px;
  font-family: 'Open Sans', sans-serif;
}

.form-inline {
  justify-content: flex-end;
}
</style>

<script>
export default {
  data() {
    return { isSticky: true }
  }
}
</script>
