<template>
  <div class="wrapper-logo">
    <div class="logo-kumu">
      <img src="/images/kumu_logo.svg" />
    </div>

    <div class="by-bluedot">
      <img src="/images/palebluedot.svg" />
    </div>
    <NuxtLink to="/home">
      <div class="btn-start">Entrar</div>
    </NuxtLink>
  </div>
</template>

<style>
.wrapper-logo {
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
  background-color: #00a991;
  background-image: url('/images/pattern-logo.png');
  background-size: 20%;
  background-repeat: repeat;
  background-position: center;
  transition: all 0.5s;
}

.logo-kumu {
  width: 50%;
  max-width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-kumu img {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 2) 1s both;
}

.by-bluedot {
  width: 50%;
  max-width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(17%, -130%);
}

.by-bluedot img {
  width: 50%;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 2) 1.5s both;
}

.btn-start {
  background-color: #ff6696;
  width: 20%;
  max-width: 200px;
  font-size: 31px;
  text-align: center;
  font-family: 'Leckerli One', cursive;
  border-radius: 1vw;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 0px #bf4d71;
  transition: all 0.3s;
  cursor: pointer;
  overflow: hidden;
  animation: alfa-in 0.4s 2s both;
}

.btn-start:hover {
  bottom: 9%;
  box-shadow: 0px 0px 0px #bf4d71;
}

@-webkit-keyframes scale-up-center {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes alfa-in {
  0% {
    width: 0;
  }

  100% {
    width: 20%;
  }
}
</style>
