<template>
  <ul id="demo">
    <tree-item
      class="item"
      :item="treeData"
      @make-folder="makeFolder"
      @add-item="addItem"
    ></tree-item>
  </ul>
</template>

<script>
import treeData from '~/data/treeData.js'
import TreeItem from '~/components/TreeItem.vue'

export default {
  components: {
    TreeItem
  },
  data() {
    return { treeData: treeData }
  },
  methods: {
    makeFolder: function(item) {
      this.$set(item, 'children', [])
      this.addItem(item)
    },
    addItem: function(item) {
      item.children.push({
        name: 'new stuff'
      })
    }
  }
}
</script>
