<template>
  <div id="wrapper">
    <div class="bg-auth"></div>
    <div class="bg-color"></div>
    <b-container fluid class="main">
      <div class="text-center"></div>
      <b-row>
        <b-col class="page">
          <div class="text-center container-log">
            <img
              class="img-fluid logo"
              src="../assets/images/logo_gray-01.svg"
            />
            <form>
              <p class="text21"><b>Correo</b></p>
              <input />
              <p class="text21"><b>Contraseña</b></p>
              <input type="password" />
              <br />
              <button class="btnBlue">Enviar</button>
            </form>
          </div>
        </b-col>
      </b-row>
    </b-container>
    <capFooter />
  </div>
</template>

<script>
import CapFooter from '~/components/Footer.vue'

export default {
  components: {
    CapFooter
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.text21 {
  font-size: 21px;
  margin: 1vw;
}

.logo {
  padding: 2vw;
}

input {
  border-radius: 1vw;
  border: 0;
  padding: 1vw;
  width: 80%;
  max-width: 700px;
}

.btnBlue {
  background-color: rgb(57, 108, 247);
  color: #fff;
  border: 0;
  padding: 1vw;
  margin: 5%;
  border-radius: 1vw;
  width: 30%;
  max-width: 400px;
}

.container-log {
  background-color: rgba(250, 250, 250, 0.8);
  position: fixed;
  width: 80%;
  max-width: 1000px;
  padding: 1vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1vw;
}

.bg-color {
  position: absolute;
  z-index: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.bg-auth {
  position: absolute;
  z-index: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/collage.jpg');
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  filter: blur(0px);
}

.main {
  min-height: 100%;
  margin-top: 0;
}

.page {
  padding: 0;
}

#wrapper {
  padding: 0 !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*overflow: hidden;*/
}
</style>
