<template>
  <div id="wrapper">
    <capHeader />
    <b-container fluid class="main">
      <b-row>
        <b-col cols="3">
          <div class="tree">
            <tree />
          </div>
        </b-col>
        <b-col cols="9" class="page">
          <nuxt />
        </b-col>
      </b-row>
    </b-container>
    <!--<capFooter />-->
  </div>
</template>

<script>
import CapHeader from '~/components/Header.vue'
import Tree from '~/components/Tree.vue'

export default {
  components: {
    CapHeader,
    Tree
  },
  middleware: 'setData'
}
</script>

<style>
.main {
  margin-top: 55px;
  min-height: 100%;
}

.tree {
  position: fixed;
}

.page {
  padding: 0;
}

#wrapper {
  padding: 55px 0 80px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 99%;
}
</style>
