<template>
  <div class="landing">
    <logo />
  </div>
</template>

<script>
import Logo from '~/components/logo.vue'

export default {
  layout: 'simple',
  components: {
    Logo
  },
  computed: {
    content: function() {
      return this.$store.state.folders
    }
  }
}
</script>

<style>
/* Section/Article */

section.special,
article.special {
  text-align: center;
}

header.major {
  width: -moz-max-content;
  width: -webkit-max-content;
  width: -ms-max-content;
  width: max-content;
  margin-bottom: 2em;
}

header.major > :first-child {
  margin-bottom: 0;
}

header.major > h3:after {
  content: '';
  background-color: #ffffff;
  display: block;
  height: 2px;
  margin: 0.325em 0 0.5em 0;
  width: 100%;
}

header.major > p {
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 0.25em;
  margin-bottom: 0;
  text-transform: uppercase;
}

body.is-ie header.major > :first-child:after {
  max-width: 9em;
}

body.is-ie header.major > h1:after {
  max-width: 100% !important;
}

@media screen and (max-width: 736px) {
  header.major > p br {
    display: none;
  }
}

/* Tiles */
.landing {
  color: #fff;
}

.tiles {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-top: 0 !important;
}

.tiles + * {
  border-top: 0 !important;
}

.tiles article {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  transition: all 0.3s;
  padding: 4em 4em 2em 4em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: default;
  height: 40vh;
  max-height: 20em;
  min-height: 15em;
  overflow: hidden;
  position: relative;
  width: 35%;
  border-radius: 2vw;
  margin: 0.4vw;
  margin-bottom: 0.9vw;
  cursor: pointer;
}

.tiles article:hover {
  box-shadow: 0px 0px 0px #54a1d1 !important;
  top: 10px;
}

.tiles article .image {
  display: none;
}

.tiles article header {
  position: relative;
  z-index: 3;
}

.tiles article h3 {
  font-size: 1.75em;
}

.tiles article .link.primary {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
}

.tiles article:before {
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  bottom: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.tiles article:after {
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.tiles article.is-transitioning {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  -moz-filter: blur(0.5em);
  -webkit-filter: blur(0.5em);
  -ms-filter: blur(0.5em);
  filter: blur(0.5em);
  opacity: 0;
}

.tiles article:nth-child(4n - 1),
.tiles article:nth-child(4n - 2) {
  width: 60%;
}

.img-logo {
  text-align: right;
}

a,
a:hover {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

@media screen and (max-width: 1280px) {
  .tiles article {
    padding: 4em 3em 2em 3em;
    height: 30vh;
    max-height: 20em;
    min-height: 15em;
  }
}

@media screen and (max-width: 980px) {
  .tiles article {
    width: 50% !important;
  }
}

@media screen and (max-width: 736px) {
  .tiles article {
    padding: 3em 1.5em 1em 1.5em;
    height: 16em;
    max-height: none;
    min-height: 0;
  }

  .tiles article h3 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  .tiles {
    display: block;
  }

  .tiles article {
    height: 20em;
    width: 100% !important;
  }
}
</style>
